<div class='bg-slate-100 p-4 shadow-lg rounded-xl flex flex-col text-slate-700'>
  <h1 class='text-2xl font-bold text-center text-slate-700 my-4 mx-2'>Dashboard</h1>
  <div class='p-2 text-xl m-2 mt-0 bg-slate-300 rounded-lg'>
    <h1 class='font-bold'>Overall Summary</h1>
    <span class='flex justify-between'>
      <p>Max Score </p>
      <%= @maxScore%>
    </span>
    <span class='flex justify-between'>
      <p>Best Subject </p>
      <%= @maxSubject%>
    </span>
    <span class='flex justify-between'>
      <p>Total Score </p>
      <%= @totalScore%>
    </span>
  </div>
  <div>
    <%if Subject.all.empty? %>
      <div class='flex justify-center items-center p-10'>
        <h1>No Subject</h1>
      </div>
    <%else%>
      <% Subject.all.each do |s|%>
        <div class='flex p-2 rounded-md hover:bg-slate-200 min-w-[300px] items-center'>
          <div class='flex justify-between font-bold w-[80%]'>
            <h1><%= s.name %></h1>
            <h1><%= s.score %></h1>
          </div>
          <div class='flex gap-2 ml-2'>
            <button class='text-white bg-blue-500 p-1.5 rounded'>
              <%= link_to 'Edit',"/score/edit?sid=#{s.id}&sname=#{s.name}&sscore=#{s.score}" %>
            </button>
            <button class='text-white bg-red-500 p-1.5 rounded'>
              <%= link_to 'Delete',"/score/delete?sid=#{s.id}", data: { 'turbo-method' => :post }%>
            </button>
          </div>
        </div>
      <%end%>
    <%end%>
  </div>
  <%= link_to 'Add Again', '/' ,class: 'myBtn mt-2 text-center' %>
</div>
